.body {
  text-align: center;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-grow: 1;
  vertical-align: middle;
}

.flex-container > div {
  width: 520px;
  height: 180px;
  text-align: center;
  font-size: 30px;
  line-height: 72px;
}

img {
  border: 0px solid #1a1c23;
}
