@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* compendium */

html {
  background-color: #1c1e26;
}

.body {
  text-align: center;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-grow: 1;
  vertical-align: middle;
}

.flex-container > div {
  width: [(width - 200)/6]vw;
  height: auto;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
}

img {
  border: 0;
  max-width: 400px;
}

h1 {
  text-align: center;
  font-size: 72px;
  font-family: 'Pattaya', sans-serif;
  color: #ffb600;
  text-shadow: 0 0 10px #16161C;
}

name {
  position: absolute;
  left: 50%;
  top: 0;
}
